# dependencies
node_modules

# testing
coverage

# dist
dist
.next
out
build
.expo
web-build

# misc
.DS_Store
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# debug
npm-debug.log*

# local env files
.env*

# turbo
.turbo

# benchmarking
*.benchmark.json
